#cloud-config
package_update: true
package_upgrade: false

packages:
  - ca-certificates
  - docker.io

users:
  - default
  - name: deploy
    groups:
      - sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - ${ssh_public_key}

runcmd:
  - systemctl enable --now docker
  - usermod -aG docker deploy
  - install -d -o deploy -g deploy /opt/server-axum
